.custom-content {
  --ion-background-color: #f7f7f7;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.custom-form {
  padding: 20px;
}

.custom-item {
  margin-bottom: 20px;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.small-button {
  width: 50px;
}

.custom-fab {
  margin-bottom: 30px;
}
