<ion-header>
  <ion-toolbar>
    <ion-title size="large">Update Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="newForm" (ngSubmit)="updateAnonce()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Image:</ion-label>
      <ion-input formControlName="image" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button type="submit" size="large" (click)="showConfirmationAlert()"
        ><ion-icon name="create"></ion-icon
      ></ion-button>
    </div>
  </form>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
