<ion-content>
  <div class="header">
    <ion-row class="btn">
      <ion-fab-button [routerLink]="['/add-anonce']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-row>
    <ion-row>
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button [routerLink]="['/login']">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-row>
    <div *ngIf="userEmail" class="user-email">
      Bienvenue,<br />
      {{ userEmail }}
    </div>
  </div>
  <div class="ion-padding">
    <ion-card *ngFor="let annonce of anonce">
      <ion-card-content>
        <div class="ion-text-center">
          <div class="blur-image-container">
            <div class="image-overlay">
              <div class="overlay-text">
                <p class="overlay-text-item">{{ annonce.name }}</p>
                <p class="overlay-text-item">{{ annonce.description }}</p>
              </div>
            </div>

            <img [src]="annonce.image" width="300" height="100" />
          </div>
          <div class="button-container">
            <ion-button (click)="updateAnnonce(annonce._id)"
              ><ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteAnnonce(annonce._id)"
              ><ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Boutons "Create", "Update" et "Delete" sur la même ligne que "Logout" -->
</ion-content>
